<!DOCTYPE html>
<html>
<head>

<title>Diabetes Predictor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <h2>🩺 Diabetes Predictor</h2>

    <div>

        <a href="/">Home</a>
        <a href="/assessment">Assessment</a>
        <a href="/history">History</a>

    </div>

</nav>

<section class="hero">

    <h1>
        AI Powered Diabetes Risk Prediction
    </h1>

    <p>
        Predict diabetes risk using machine learning.
    </p>

    <a href="/assessment">

        <button>
            Start Assessment
        </button>

    </a>

</section>

</body>
</html>